body {
    margin: 0;
    background-color: #555;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.container {
    display: flex;
}

.mg1,
.mg2,
.mg3,
.mg4,
.mg5,
.mg6,
.mg7,
.mg8,
.mg9,
.mg0 {
    /* 圖片總長 */
    /* width: 1050px; */
    /* height: 100px; */
    /* 單數字長度 */
    width: 100px;
    height: 100px;
    background: url('../images/num2.png');
}

.mgd {
    /* 符號長度 */
    width: 50px;
    height: 100px;
    background: url('../images/num2.png');
    background-position: right;
}

/* background-position 預設是以左上角為起點，
X軸表示水平軸，方向則是由左至右為正數，反之在左側往左側移動則為負數。
Y軸表示垂直軸，方向則是由上至下為正數，反之在上方還要往更上方移動則為負數。 */
.mg1 {
    background-position: -100px;
}


.mg2 {
    background-position: -200px;
}

.mg3 {
    background-position: -300px;
}

.mg4 {
    background-position: -400px;
}

.mg5 {
    background-position: -500px;
}

.mg6 {
    background-position: -600px;
}

.mg7 {
    background-position: 350px;
}

.mg8 {
    background-position: 250px;
}

.mg9 {
    background-position: 150px;
}
.mg0 {
    background-position: 0px;
}
